header{
    background-color:  #232323;
    border-bottom: 1px solid #21295c;
}
.nav-header img{
    height: 86px;
}

.logo{
    height: 86px;
    margin-right: 20px;
}
.navigation{
    width: fit-content;
    margin: 0 auto;
}
a.nav-link{
    border-bottom: 3px solid #e00403;
    margin: 0 10px;
    transition: 0.3s ease;
    text-transform: uppercase;
}
a.nav-link:hover{
    border-bottom: 3px solid #21295c;
    transition: 0.3s ease;
}
.navbar-nav.left{
   float: left;
}
.navbar-nav svg{
    margin: 0 5px;
}
.last-onsite {
    width: fit-content;
    float: left;
    margin: 10px;
}
.last-uploads{
    display: inline-block;
    width: 100%;
    margin: 10px 0;
}
a.name-title {
    background-color: #21295c;
    padding: 10px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;

}
.content-last-hqs{
    width: fit-content;
    margin: 0 auto;
}
@media only screen and (max-width:991px){
    .nav-header img{
        height: 60px;
    }
    
    .logo{
        height: 60px;
        margin-right: 20px;
    }
    .navbar-nav.left{
        margin: 0 auto;
        width: fit-content;
        float: unset;
    }
    
}