header{
    background-color:  #191919;
    border-bottom: 1px solid #21295c;
}
.nav-header img{
    width: 100%;
}
.nav-header img{
    width: 100%;
}
.logo{
    width: 7%;
}
.navigation{
    margin-left: auto;
}
a.nav-link{
    border-bottom: 3px solid #e00403;
    margin: 0 10px;
    transition: 0.3s ease;
    text-transform: uppercase;
}
a.nav-link:hover{
    border-bottom: 3px solid #21295c;
    transition: 0.3s ease;
}