<header class="container">
  <nav class="navbar navbar-expand-lg nav-header ">
    <a class="navbar-brand logo" href="#"><img src="../../assets/imagens/logo.png" class="img-responsive"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav navigation">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/"><i class="fas fa-home"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/feed"><i class="fas fa-book-open"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/category"><i class="fas fa-file"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/user"><i class="fas fa-user"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact"><i class="fas fa-envelope"></i></a>
        </li>
      </ul>
    </div>
  </nav>
</header>
