/* You can add global styles to this file, and also import other style files */
@font-face{
    font-family: 'Bangers', cursive;
    src: url('/khrix-app/src/assets/fonts/Bangers-regular.ttf') format('ttf')
}
body{
    font-family: 'Bangers', cursive!important;
    background-color: #121212!important;
}
a{
    color:#e00403;
}
main{
    margin: 20px 0;
}
.left-side{

}