/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Teko:400,500,600,700');
body{
    font-family: 'Teko', sans-serif!important;
    background-color: #121212!important;
}
a{
    color:#e00403;
}
main{
    margin: 20px 0;
}
.left-side{

}