.hq-home-content .hq-home-txt h2{
    font-size: 10pt;
}
.hq-home-txt {
    width: 100%;
    text-align: center;
}
section.most-reads {
    background: #232323;
}
section.most-reads h3 {
    color: #e10403;
}
a.name-title {
    font-size: 14pt;
}